<form
  *ngIf="form"
  [formGroup]="form"
  class="d-flex flex-column p-5 mt-5 container"
  style="
    background-color: azure;
    width: fit-content;
    padding: 20px;
    border: solid 2px black;
    border-radius: 10px;
  "
>
  <div class="mb-3">
    <label for="numero">Numero fattura:</label>
    <input
      type="number"
      formControlName="numero"
      class="form-control"
      placeholder="Numero fattura"
    />
  </div>

  <div class="mb-3">
    <label for="import">Importo fattura:</label>
    <input
      type="number"
      formControlName="importo"
      class="form-control"
      placeholder="Importo"
    />
  </div>
  <div class="mb-3">
    <input
      type="text"
      list="clienti"
      (change)="selectClient($event)"
      class="form-control"
      placeholder="Cliente"
    />
    <datalist id="clienti">
      <option
        *ngFor="let customer of customers"
        [value]="customer.ragioneSociale"
      ></option>
    </datalist>
  </div>

  <div class="d-flex gap-2">
    <button class="btn btn-outline-primary" type="button" (click)="save()">
      {{ edit ? "Salva" : "Aggiungi" }} fattura
    </button>
    <a class="btn btn-outline-primary" type="button" routerLink="/bills"
      >Torna alla lista fatture</a
    >
    <button *ngIf="edit" class="btn btn-outline-danger" (click)="delete()">
      Elimina fattura
    </button>
  </div>
</form>
