<form
  *ngIf="form"
  [formGroup]="form"
  class="d-flex flex-column p-5 mt-5 container"
  style="
    background-color: azure;
    width: fit-content;
    padding: 20px;
    border: solid 2px black;
    border-radius: 10px;
  "
>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Ragione Sociale"
      formControlName="ragioneSociale"
    />
  </div>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Partita IVA"
      formControlName="partitaIva"
    />
  </div>
  <div class="mb-3">
    <select class="form-select" formControlName="tipoCliente">
      <option value="SRL">SRL</option>
      <option value="SPA">SPA</option>
      <option value="SAS">SAS</option>
      <option value="SNC">SNC</option>
      <option value="PA">PA</option>
    </select>
  </div>
  <div class="mb-3">
    <input
      type="email"
      class="form-control"
      placeholder="Email"
      formControlName="email"
    />
  </div>
  <div class="mb-3">
    <input
      type="tel"
      class="form-control"
      placeholder="Numero di telefono"
      formControlName="telefono"
    />
  </div>

  <section formGroupName="indirizzo">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Via"
        formControlName="via"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Civico"
        formControlName="civico"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        list="listaComuni"
        (change)="changeComune($event)"
        placeholder="Comune"
      />
      <datalist id="listaComuni">
        <option *ngFor="let comune of comuni" [value]="comune.nome"></option>
      </datalist>
    </div>
  </section>

  <div class="mb-3">
    <input
      type="number"
      class="form-control"
      placeholder="Fatturato"
      formControlName="fatturato"
    />
  </div>

  <div class="d-flex gap-2">
    <button class="btn btn-outline-primary" type="button" (click)="save()">
      {{ edit ? "Salva" : "Aggiungi" }} cliente
    </button>
    <a class="btn btn-outline-primary" type="button" routerLink="/customers"
      >Torna alla lista clienti</a
    >
    <button *ngIf="edit" class="btn btn-outline-danger" (click)="delete()">
      Elimina cliente
    </button>
  </div>
</form>
