<form
  *ngIf="form"
  [formGroup]="form"
  class="d-flex flex-column p-5 mt-5 container"
  style="
    background-color: azure;
    width: fit-content;
    padding: 20px;
    border: solid 2px black;
    border-radius: 10px;
  "
>
  <mat-form-field>
    <mat-label>Ragione sociale</mat-label>
    <input matInput formControlName="ragioneSociale" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Partita IVA</mat-label>
    <input matInput formControlName="partitaIva" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tipo azienda</mat-label>
    <mat-select formControlName="tipoCliente">
      <mat-option value="SRL">SRL</mat-option>
      <mat-option value="SPA">SPA</mat-option>
      <mat-option value="SAS">SAS</mat-option>
      <mat-option value="SNC">SNC</mat-option>
      <mat-option value="PA">PA</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Numero di telefono</mat-label>
    <input matInput formControlName="telefono" />
  </mat-form-field>

  <section formGroupName="indirizzo">
    <mat-form-field>
      <mat-label>Nome della via</mat-label>
      <input matInput formControlName="via" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Numero civico</mat-label>
      <input matInput formControlName="civico" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Comune</mat-label>
      <input matInput list="listaComuni" (change)="changeComune($event)" />
    </mat-form-field>

    <datalist id="listaComuni">
      <option *ngFor="let comune of comuni" [value]="comune.nome"></option>
    </datalist>
  </section>

  <mat-form-field>
    <mat-label>Fatturato</mat-label>
    <input matInput type="number" formControlName="fatturato" />
  </mat-form-field>

  <div class="d-flex gap-2">
    <button class="btn btn-outline-primary" type="button" (click)="save()">
      {{ edit ? "Salva" : "Aggiungi" }} cliente
    </button>
    <a class="btn btn-outline-primary" type="button" routerLink="/customers"
      >Torna alla lista clienti</a
    >
    <button *ngIf="edit" class="btn btn-outline-danger" (click)="delete()">
      Elimina cliente
    </button>
  </div>
</form>
