<form
  class="d-flex flex-column ps-5 gap-2 mt-3 pb-3"
  style="width: 250px"
  [formGroup]="form"
>
  <div
    formGroupName="personalInformation"
    class="d-flex gap-2"
    style="
      background-color: azure;
      width: fit-content;
      padding: 20px;
      border: solid 2px black;
      border-radius: 5px;
    "
  >
    <div>
      <label for="name">Name:</label>
      <input name="name" placeholder="Insert name" formControlName="name" />
    </div>

    <div>
      <label for="surname">Surame:</label>
      <input
        name="surname"
        placeholder="Insert surname"
        formControlName="surname"
      />
    </div>

    <div>
      <label for="age">Age:</label>
      <input
        name="age"
        placeholder="Insert age"
        type="number"
        formControlName="age"
      />
    </div>

    <div>
      <label for="gender">Gender:</label>
      <select name="gender" formControlName="gender">
        <option value="M">Man</option>
        <option value="F">Woman</option>
      </select>
    </div>
  </div>

  <div
    formGroupName="location"
    class="d-flex gap-2"
    style="
      background-color: azure;
      width: fit-content;
      padding: 20px;
      border: solid 2px black;
      border-radius: 5px;
    "
  >
    <div>
      <label for="city">City:</label>
      <input name="city" formControlName="city" placeholder="Insert city" />
    </div>

    <div>
      <label for="cap">CAP:</label>
      <input name="cap" formControlName="postalCode" placeholder="Insert cap" />
    </div>

    <div>
      <label for="address">Address:</label>
      <input
        name="address"
        formControlName="address"
        placeholder="Insert address"
      />
    </div>

    <div>
      <label for="state">State:</label>
      <input name="state" formControlName="state" placeholder="Insert state" />
    </div>

    <div>
      <label for="country">Country:</label>
      <input
        name="country"
        formControlName="country"
        placeholder="Insert country"
      />
    </div>
  </div>

  <label for="hobbies">Hobby:</label>
  <div
    formArrayName="hobbies"
    class="d-flex flex-column gap-2"
    style="
      background-color: azure;
      width: fit-content;
      padding: 20px;
      border: solid 2px black;
      border-radius: 5px;
    "
  >
    <ng-container *ngFor="let hobby of hobbies.controls; let i = index">
      <div [formGroupName]="i" class="d-flex gap-2">
        <input
          formControlName="name"
          type="text"
          placeholder="Nome dell'hobby"
        />
        <input
          formControlName="icon"
          type="text"
          placeholder="Icona dell'hobby"
        />
        <button class="btn" (click)="removeHobby(i)">
          <i class="fa-solid fa-xmark" style="color: #ff0000"></i>
        </button>
      </div>
    </ng-container>
    <button class="btn btn-success" (click)="addHobby()">Add hobby</button>
  </div>

  <label for="pets">Pet:</label>
  <div
    formArrayName="pets"
    style="
      background-color: azure;
      width: fit-content;
      padding: 20px;
      border: solid 2px black;
      border-radius: 5px;
    "
  >
    <ng-container *ngFor="let pet of pets.controls; let i = index">
      <div [formGroupName]="i" class="d-flex gap-2">
        <div>
          <label for="name">Name:</label>
          <input
            name="petName"
            type="text"
            placeholder="Pet's name"
            formControlName="name"
          />
        </div>

        <div>
          <label for="petType">Type:</label>
          <select name="petType" formControlName="type">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="rabbit">Rabbit</option>
            <option value="snake">snake</option>
            <option value="mouse">Mouse</option>
            <option value="hamster">Hamster</option>
          </select>
        </div>

        <div>
          <label for="breed">Breed:</label>
          <input
            name="petBreed"
            type="text"
            placeholder="Breed"
            formControlName="breed"
          />
        </div>

        <div>
          <label for="petGender">Gender:</label>
          <select name="petGender" formControlName="gender">
            <option value="M">Man</option>
            <option value="F">Woman</option>
          </select>
        </div>

        <div>
          <label for="petAge">Age:</label>
          <input
            name="petAge"
            type="number"
            placeholder="Age"
            formControlName="age"
          />
        </div>
        <button class="btn" (click)="removePet(i)">
          <i class="fa-solid fa-xmark" style="color: #ff0000"></i>
        </button>
      </div>
    </ng-container>
    <button class="btn btn-success mt-2" (click)="addPet()">Add pet</button>
  </div>

  <label for="languages">Language:</label>
  <div
    formArrayName="knownLanguages"
    style="
      background-color: azure;
      width: fit-content;
      padding: 20px;
      border: solid 2px black;
      border-radius: 5px;
    "
  >
    <ng-container
      *ngFor="let language of knownLanguages.controls; let i = index"
    >
      <div [formGroupName]="i" class="d-flex gap-2">
        <input
          name="languageName"
          type="text"
          placeholder="Language"
          formControlName="name"
        />
        <input
          name="languageIcon"
          type="text"
          placeholder="Language's icon"
          formControlName="icon"
        />
        <button class="btn" (click)="removeLanguage(i)">
          <i class="fa-solid fa-xmark" style="color: #ff0000"></i>
        </button>
      </div>
    </ng-container>
    <button class="btn btn-success mt-2" (click)="addLanguage()">
      Add language
    </button>
  </div>

  <label for="jobExperiences">Experience:</label>
  <div
    formArrayName="jobExperiences"
    style="
      background-color: azure;
      width: fit-content;
      padding: 20px;
      border: solid 2px black;
      border-radius: 5px;
    "
  >
    <ng-container
      *ngFor="let experience of jobExperiences.controls; let i = index"
    >
      <div [formGroupName]="i" class="d-flex flex-column gap-2">
        <div class="d-flex gap-2">
          <input
            name="experience"
            placeholder="Experience"
            formControlName="name"
            style="height: 30px"
          />
          <input
            name="jobCompany"
            placeholder="Company"
            formControlName="company"
            style="height: 30px"
          />
          <input
            name="jobDescription"
            placeholder="Description"
            formControlName="description"
            style="height: 30px"
          />

          <div>
            <input name="startDate" type="date" formControlName="startDate" />
          </div>
          <div>
            <input name="endDate" type="date" formControlName="endDate" />
          </div>
          <button class="btn" (click)="removeJob(i)">
            <i class="fa-solid fa-xmark" style="color: #ff0000"></i>
          </button>
        </div>

        <div formArrayName="tags" class="d-flex w-100">
          <div
            *ngFor="let tag of experience.controls.tags.controls; let i = index"
          >
            <input
              class="me-2"
              name="jobTags"
              placeholder="Tag"
              [formControlName]="i"
            />
            <button class="btn" (click)="removeTag(experience, i)">
              <i class="fa-solid fa-xmark" style="color: #ff0000"></i>
            </button>
          </div>
          <button class="btn btn-success" (click)="addTag(experience)">
            Add tag
          </button>
        </div>
      </div>
    </ng-container>
    <button class="btn btn-success mt-2" (click)="addJobExperience()">
      Add experience
    </button>
  </div>
  <button type="button" class="btn btn-primary" (click)="save()">
    {{ edit ? "Salva" : "Aggiungi" }} studente
  </button>
</form>
